/Tercero/PCD/Practica5/nbproject/private/
/Tercero/PCD/Practica5/build/
/Tercero/InformationSystems/Practice3/target/
/Tercero/PCD/Practica4/nbproject/private/
/Tercero/PCD/Practica6/nbproject/private/
