/Tercero/PCD/Practica5/nbproject/private/
/Tercero/PCD/Practica5/build/
/Tercero/InformationSystems/Practice3/target/
/Tercero/PCD/Practica4/nbproject/private/
/Tercero/PCD/Practica6/nbproject/private/
/Tercero/PCD/Practica6/build/
/Tercero/PCD/Practica7/nbproject/private/
/Tercero/PCD/Practica7/build/
/Tercero/InformationSystems/myHibernate/target/
/Tercero/PCD/Practica8/nbproject/private/
/Tercero/PCD/Practica8/build/
/Tercero/PCD/Practica9/nbproject/private/
/Tercero/PCD/Practica9/build/
/Tercero/InformationSystems/Practice4/target/
/Tercero/InformationSystems/Practice5/target/
/Tercero/PCD/Practica9/Comprador/nbproject/private/
/Tercero/PCD/Practica9/Reparador/nbproject/private/
/Tercero/PCD/Practica10/nbproject/private/
/Tercero/PCD/Practica10/build/
/Tercero/PCD/Practica9_Comprador/nbproject/private/
/Tercero/PCD/Practica9_Reparador/nbproject/private/
/Tercero/PCD/Practica9_Server/nbproject/private/
/Tercero/PCD/Practica9_Server/build/
/Tercero/PCD/Practica9_Reparador/build/
/Tercero/PCD/Practica9_Comprador/build/
/Tercero/PCD/Examen19/nbproject/private/
/Tercero/PCD/Examen19/build/
/Tercero/PCD/Examen21/nbproject/private/
/Tercero/PCD/Examen21/build/
